[project]
	description = A cheatsheet of modern C++ language and library features.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/infojg9
[access "refs/for/refs/*"]
	read = group user/infojg9
	push = group user/infojg9
	label-Code-Review = -2..+2 group user/infojg9
	label-Verified = -1..+1 group user/infojg9
	rebase = group user/infojg9
	removeReviewer = group user/infojg9
	submit = group user/infojg9
[access "refs/heads/*"]
	read = group user/infojg9
	create = group user/infojg9
	push = +force group user/infojg9
	pushMerge = group user/infojg9
[access "refs/tags/*"]
	push = group user/infojg9
	push = +force group user/infojg9
